doctype
head
	title
	meta(charset="utf-8")
	title GAME
	link(rel="stylesheet" href="css/main.css")
	link(res="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")

body
	.container.absolute
		block content
			
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="js/threejs/three.js")

	script(src="js/threejs/Lensflare.js")
	script(src="js/threejs/FlyControls_old.js")

	
	script(src="js/threejs/Stats.js")
	//- script(src="js/threejs/Projector.js")
	//- script(src="js/threejs/Tween.js")
	//- script(src="js/threejs/Sparks.js")
	//- script(src="js/main.js")
	script(src="js/bundle.js")